body {

}

.bg-body-tertiary {
  background-color: white !important;
}

.logo {
  font-family: 'Tilt Prism', cursive;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  /* margin: 2% 200px; */
  padding: 0% 1%;
  animation: logo 1s ease;
}

.navbar {
  background: linear-gradient(to left, transparent 50%, #cfecd0, #a0cea7, #9ec0db) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.navbar:hover {
  background-position: left;
}



a {
  margin: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.nav-item.socials {
  list-style: none;
}

@keyframes logo {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.navbar-toggler {
  border: 2px solid black;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}


/* main */

.main {
  margin: 10% 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column1 {
  grid-column: 1/2;
}

div.column1 > p {
  margin-top: 6%;
}

button.portfolio {
  margin-top: 10%;
  background-color: black;
  border-radius: 7px;
  border-color: black;
  padding: 2%;
  text-align: center;
}
button.portfolio > a {
  color: white;
  word-wrap: normal;
  margin: 0%;
}

.column2 {
  grid-column: 2/3;
}
div.background {
  position: relative;
  top: 0;
  left: 0;
  max-width: 432px;
  min-width: 400px;
}

div.background > .image1 {
  position: relative;
  border-radius: 70% 30% 30% 60% / 60% 40%;
  top: 0;
  left: 0;
  height: 425px;
  width: 425px;
}

div.background > .image2 {
  position: absolute;
  top: 25px;
  left: 30px;
  border-radius: 50% 30% 30% 45% / 60% 40%;
  width: 400px;
  height: auto;
}

@media (max-width: 990px){
  .navbar{
    background: none;
  }
  .logo {
    padding: 0% 2%;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .background {
    max-width: 232px;
    min-width: 200px;
  }

}


  

  

