.portfolio-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2%;

}

.card {
  height: 25rem;
  width: 40rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid white;
}

.project-image {
  height: 20rem;
  width: auto;
  overflow: hidden;
}

.title {
  color: white;
  margin-left: 2%;
}

.a-tag {
  text-decoration: none;
  color: #9ec0db;
  margin-left: 2%;
}

.search {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
}

#filter {
  padding: 2%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 2rem;
  width: 9rem;
  border: none;
}

.search-button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
}

@media (max-width: 990px) {
  .project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    height: 17rem;
    width: 20rem;
    margin-bottom: 2%;
  }
}