.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.about-text {
  text-align: center;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

.about-pic {
  height: 30rem;
  width: auto;
  border-radius: 50%;
  margin: 1%;
}

@media (max-width: 990px) {
  .about-text{
    margin-left: 10%;
    margin-right: 10%;
  }
  .about-pic {
    height: 20rem;
    width: auto;
  }
}
