body {

}

.bg-body-tertiary {
  background-color: white !important;
}

.logo {
  font-family: 'Tilt Prism', cursive;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  /* margin: 2% 200px; */
  padding: 0% 1%;
  animation: logo 1s ease;
}

.navbar {
  background: linear-gradient(to left, transparent 50%, #cfecd0, #a0cea7, #9ec0db) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.navbar:hover {
  background-position: left;
}

a {
  margin: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.nav-item.socials {
  list-style: none;
}

.testContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3% 12%;
  
}

.testContainer > h1 {
  grid-column: 1/2;
}

.testContainer > img {
  grid-column: 1/2;
  width: 680px;
  height: auto;
}

.testContainer > h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 4%;
}

.testContainer > p {
  padding-top: 5%;
  padding-left: 4%;
  grid-column: 2/3;
  text-align: left;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6% 15%;
}

/* .buttons > button {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 40px;
}

.buttons > button:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.buttons > button > a {
  color: white;
} */

.click-button {
  height: 40px;
  background-color: black;
  color: white;
  padding: 6px 2% 2% 2%;
  text-align: center;
  border-radius: 5px;
  border: 3px solid transparent;
}

.click-button:hover {
  background-color: white;
  border: 3px solid black;
  color: black;
}

.label {
  margin-left: 430px;
  margin-top: 2%;
}

.other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 400px 3% 400px;
}

.other > span {
  margin-right: 2%;
}

.images {
  width: 300px;
  height: auto;
}

.view {
  border: none;
  border-radius: 5px;
  color: black;
}

.view:hover {
  background-color: #a0cea7;
}

.row {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  margin: 1% 7%;
  border-bottom: 2px solid rgb(189, 188, 188);
}

.row > h4 {
  grid-column: 1/2;
}

.description {
  grid-column: 2/3;
}

.jsButton {
  grid-column: 3/4;
}

.back-button {
  background-color: #9ec0db;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  border: 3px solid transparent;
}

.back-button:hover {
  background-color: white;
  color: #9ec0db;
  border: 3px solid #9ec0db;
}

@keyframes logo {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.navbar-toggler {
  border: 2px solid black;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}

@media (max-width: 990px){
  .navbar{
    background: none;
  }
  .logo {
    padding: 0% 2%;
  }
}