body {

}

nav.navbar .navbar-expand-lg .bg-body-tertiary {
  background-color: transparent;
}

.logo {
  font-family: 'Tilt Prism', cursive;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  /* margin: 2% 200px; */
  padding: 0% 1%;
  animation: logo 1s ease;
}



a {
  margin: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.nav-item.socials {
  list-style: none;
}

@keyframes logo {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}