body {
margin-bottom: 0px;
}

nav.navbar .navbar-expand-lg .bg-body-tertiary {
  background-color: transparent;
}

.logo {
  font-family: 'Tilt Prism', cursive;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  /* margin: 2% 200px; */
  padding: 0% 1%;
  animation: logo 1s ease;
}

.nav-link {
  font-size: 16px;
}

a {
  margin: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.nav-item.socials {
  list-style: none;
  font-size: 16px;
}

@keyframes logo {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

/* main */

div.grid {
  height: 100vh;
  margin: 0% 25%;
  display: grid !important;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr .5fr .5fr 2fr;
  gap: 4%;
  border-left: 2px solid #cfecd0;
  border-right: 2px solid #9ec0db;
  border-bottom: 2px solid #a0cea7;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  flex-grow: 1;
  
  }
  
  div.header {
    grid-column: 1/3;
    grid-row: 1/2;
    /* background-color: rgb(222, 221, 221); */
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
  }
  
  div.names {
    display: flex;
    flex-direction: row;
  }
  
  div.header img {
    width: 150px;
    /* object-fit: cover; */
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 500px;
  }
  
  p.first {
    font-size: 32px;
    margin-right: 4px;
  }
  
  p.last {
    font-size: 32px;
    font-weight: bold;
  }
  
  h2 {
    font-size: medium;
  }
  
  div.socials {
    grid-column: 1/2;
    grid-row: 2/3;
    /* background-color: white; */
    padding-left: 5%;
    padding-top: 10%;
  }
  
  div.socials p {
    font-size: 12px;
  }
  
  
  div.profile {
    grid-column: 2/3;
    grid-row: 2/3;
    /* background-color: rgb(121, 118, 118); */
    padding-left: 5%;
  }
  p.profileText {
    font-size: 12px;
  }
  
  div.skills {
    grid-column: 1/2;
    grid-row: 3/4;
    /* background-color: rgb(94, 93, 93); */
    padding-left: 5%;
  }
  li {
    font-size: 12px;
  }
  
  div.experience {
    grid-column: 2/3;
    grid-row: 3/5;
    /* background-color: rgb(64, 63, 63); */
    padding-left: 5%;
  }
  div.experience p {
    font-size: 12px;
  }
  
  div.education {
    grid-column: 1/2;
    grid-row: 4/5;
    /* background-color: rgb(35, 34, 34); */
    padding-left: 5%;
  }
  div.education p {
    font-size: 12px;
  }

  li {
    list-style: none;
    font-size: 12px;
  }

  .lang {
    list-style-type: square;
  }
  
  .position {
    text-decoration: underline;
  }