body {

}

.bg-body-tertiary {
  background-color: white !important;
}

.logo {
  font-family: 'Tilt Prism', cursive;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  /* margin: 2% 200px; */
  padding: 0% 1%;
  animation: logo 1s ease;
}

.navbar {
  background: linear-gradient(to left, transparent 50%, #cfecd0, #a0cea7, #9ec0db) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.navbar:hover {
  background-position: left;
}



a {
  margin: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.nav-item.socials {
  list-style: none;
}

@keyframes logo {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.navbar-toggler {
  border: 2px solid black;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}


.main {
  border: 0px;
  height: 90%;
  /* margin: 0% 28%; */
  background-color: #62987a;
  opacity: 0.8;
  background-image: radial-gradient(#a0c1af 0.5px, #62987a 0.5px);
  background-size: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main > button {
  border-radius: 5px;
}

@media (max-width: 990px){
  .navbar{
    background: none;
  }
  .logo {
    padding: 0% 2%;
  }
}